body {
    font-size: 12.5px;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    background-color: beige;
    /*  background-color: bisque; */
}

div.timelineTableContainer {
    overflow: scroll;
    margin-top: 3px;
    display: none;
    /*this is dependent on the script to make it visible*/
    width: 100%;
}

.timelineTable {
    width: 100%;
    min-height: 50vh;
}

th {
    font-size: 15px;
}

.format,
a {
    color: #480000;
    /*    font-size: .9em;*/
    font-size: 12px;
}

/*Button Styling*/
#mybutton {
    background-color: rgba(255, 255, 255, 0);
    border: 0px dotted white;
    color: black;
    font-size: 10px;
    margin: 0;
    padding: 0;
    z-index: 50;
    font-weight: bold;
    font-style: oblique;
/*    box-shadow:0px 1px 1px 1px #3b3b3b;*/
}


tr:first-child,
th {
    background-color: #ddc474;
}

tr:nth-child(even) {
    background-color: #fffb9f;
}

tr {
    background-color: beige
}

table {
    border-collapse: collapse;
    width: 100%;
    empty-cells: hide;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    min-width: 50px;
    /*    min-height: 25px;*/
    border-left: 2.5px solid #b1b1b1;
    text-align: center;
}

tr td:last-child,
tr th:last-child {
    border-right: 2.5px solid #b1b1b1;
}

tr td:first-child,
tr th:first-child {
    min-width: 2.5px;
    background-color: ;
    text-align: center;
}

tr td:first-child:hover,
tr th:first-child:hover {
    background-color: lemonchiffon;
}

tr th:first-child {
    font-size: 10px;
    /*    background-color: lemonchiffon;*/
    text-align: center;
    width: 5px;
}

tr {
    /*    height: 50px;*/
    font-size: 15px;
}

tr:hover {
    background-color: #e0ffeb;
}

th:hover,
td:hover {
    background-color: yellow;
    /*    background-color: #91fcb7;*/
}

td:empty {
    background-color: black;
}


.highlight {
    background-color: yellow;
}

.bold {
    font-style: italic;
    font-weight: bolder;
    font-size: 15px;
}


/*for ANDROID phones*/
@media only screen and (max-device-width : 768px) {

    table{
    }
    
    .timelineTable,
    table,
    tr,
    td {
        font-size: 25.5px;
    }

    body {
        font-size: 30px;
        text-align: center;
        background-color: beige;
    }

    th {
        font-size: 30px;
    }

    #mybutton {
        background-color: rgba(255, 255, 255, 0);
        border: 0px dotted white;
        color: black;
        font-size: 30px;
        margin: 0;
        padding-bottom: 10px;
        z-index: 50;
        font-weight: bold;
        font-style: oblique;
        float:right;
    }

    a {
        color: #480000;
        /*    font-size: .9em;*/
        font-size: 27px;
    }

    tr th:first-child {
        font-size: 25px;
    }

}

/*for IPAD*/
@media only screen and (max-device-width : 1024px) {

    .timelineTable,
    table,
    tr,
    td {
        font-size: 30px;
    }

    body {
        font-size: 35px;
        text-align: center;
        background-color: beige;
    }

    th {
        font-size: 35px;
    }


    #mybutton {
        background-color: rgba(255, 255, 255, 0);
        border: 0px dotted white;
        color: black;
        font-size: 30px;
        margin: 0;
        padding-bottom: 10px;
        z-index: 50;
        font-weight: bold;
        font-style: oblique;
    }

    a {
        color: #480000;
        /*    font-size: .9em;*/
        font-size: 27px;
    }

    tr th:first-child {
        font-size: 25px;
    }

}
