body {
    font-size: 12.5px;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}

div.timelineTableContainer {
    overflow:scroll;
    margin-top: 3px;
    display: none; /*this is dependent on the script to make it visible*/
    width: 100%;
}

.timelineTable {
    width: 100%;
    min-height: 50vh;
}

tr:first-child, th {
    background-color: #ddc474;
}
    tr:nth-child(even) {
    background-color:#fffb9f;
}

tr{
    background-color: beige
}

table {
    border-collapse: collapse;
    width: 100%;
    empty-cells: hide;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    min-width: 50px;
/*    min-height: 25px;*/
    border-left: 2.5px solid #b1b1b1;
    text-align: center;
}

tr td:last-child,
tr th:last-child {
    border-right: 2.5px solid #b1b1b1;
}

tr td:first-child,
tr th:first-child {
    min-width: 2.5px;
    background-color: ;
    text-align: center;
}

tr td:first-child:hover,
tr th:first-child:hover {
    background-color: lemonchiffon;
}

tr th:first-child {
    font-size: 10px;
/*    background-color: lemonchiffon;*/
    text-align: center;
    width: 5px;
}

tr {
/*    height: 50px;*/
    font-size: 12.5px;
}

tr:hover {
    background-color: #e0ffeb;
}

th:hover,
td:hover {
    background-color: yellow;
    /*    background-color: #91fcb7;*/
}

td:empty {
    background-color: black;
}

th {
    font-size: 15px;
}

.highlight {
    background-color: yellow;
}

.bold{
    font-style: italic;
    font-weight:bolder;
    font-size: 15px;
}

/*Button Styling*/
.format,
a {
    color: #480000;
    font-size: .8em;
}

#mybutton {
    background-color: rgba(255, 255, 255, 0);
    border:0px dotted white;
    color: black;
    font-size: 10px;
    margin:0;
    padding: 0;
    z-index: 50;
    font-weight:bold;
    font-style: oblique;
/*    font-style: italic;*/
/*    box-shadow:0px 1px 1px 1px #3b3b3b;*/
}
